<launch>

  <!-- Start the youbot -->
  <include file="$(find moveit_youbot_config)/launch/youbot_driver.launch" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find moveit_youbot_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- start a static tf publisher for odom data, because we do not have any odometry data and neither a map -->
<!--
  <node pkg="tf" type="static_transform_publisher" name="odom_to_youbot_broadcaster"
	args="0 0 0 0 0 0 odom youbot_link 1000"/>
-->

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find moveit_youbot_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find moveit_youbot_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="false"/>
  </include>

</launch>
